.favourite {
    width: 1110px;
    margin: 0 auto;
}

.favourite__wrapper {
    padding-top: 20px;
    display: grid;
    gap: 30px;
    grid-auto-rows: auto;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
}

.favourite__title {
    margin-top: 28px;
    color:#838383;
    font-size: 20px;
    font-weight: 600; 
}